<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FonteDeDados.Properties.Settings.ProjetoMonetaryBankConnectionString"
            connectionString="Data Source=DESKTOP-S261MAM;Initial Catalog=ProjetoMonetaryBank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FonteDeDados.Properties.Settings.FonteDeDados_MonetaryBank"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FonteDeDados.Properties.Settings.ProjetoMonetaryBankConnectionString;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>